{% extends 'main.html' %}
{% block content %}
    <div class="row"  style="margin-bottom: 477px;">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% if pred[0] == 1 %}
                <div class="card card-body alert alert-danger"><center>Random Forest : Positive</center></div>
            {% else %}
                <div class="card card-body alert alert-success"><center>Random Forest : Negative</center></div>
            {% endif %}

	    {% if pred[1] == 1 %}
                <div class="card card-body alert alert-danger"><center>"Gradient Boosting : Postive"</center></div>
            {% else %}
                <div class="card card-body alert alert-success"><center>"Gradient Boosting : Negative"</center></div>
            {% endif %}

	    {% if pred[2] == 1 %}
                <div class="card card-body alert alert-danger"><center>"Alog3 : Postive"</center></div>
            {% else %}
                <div class="card card-body alert alert-success"><center>"Algo3 : Negative"</center></div>
            {% endif %}

	    {% if pred[3] == 1 %}
                <div class="card card-body alert alert-danger"><center>"Alog4 : Postive"</center></div>
            {% else %}
                <div class="card card-body alert alert-success"><center>"Algo4 : Negative"</center></div>
            {% endif %}

	    {% if pred[4] == 1 %}
                <div class="card card-body alert alert-danger"><center>"Alog5 : Postive"</center></div>
            {% else %}
                <div class="card card-body alert alert-success"><center>"Algo5 : Negative"</center></div>
            {% endif %}

            
            
                <div class="col-md-4"><a href="{{ url_for('diabetesPage') }}" class="btn btn-block btn-primary"><center>Back to Home</center></a></div>
              
          
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}